
*.xcsettings

*.xcscheme

*.pbxproj

*.pbxproj

*.pbxproj

VerticalSwipeArticles/VerticalSwipeArticles.xcodeproj/project.pbxproj

VerticalSwipeArticles/VerticalSwipeArticles.xcodeproj/project.pbxproj

VerticalSwipeArticles/VerticalSwipeArticles.xcodeproj/project.pbxproj

*.pbxproj

*.pbxproj
